/*
    Empresa: Wing Mídia
    Desenvolvedor: Heliton Afonso Gonçalves
    E-mail: heliton@wingmidia.com.br
    Site: http://www.wingmidia.com.br
    Telefone: +55 34 3211.2150
    Cliente: MaxMix - UMV
*/
// Less
.borda-arredondada(@valor: 0.3rem) {
	-webkit-border-radius: @valor;
	-moz-border-radius: @valor;
	border-radius: @valor;
}

// Cores
@cor-btn-anterior: #DF5553; // Vermelho
@cor-seta-btn-anterior: #DA4C4A; // Vermelho Claro
@cor-border-btn-anterior: #C54341; // Vermelho Escuro
@cor-btn-proximo: #3157BB; // Azul
@cor-seta-btn-proximo: #2B51B6; // Azul Claro
@cor-border-btn-proximo: #25418D; // Azul Escuro

@cor-padrao-1: #FFFFFF; // Branco
@cor-padrao-2: #666666; // Cinza
@cor-padrao-3: #004282; // Azul
@cor-padrao-4: #002E5B; // Azul Escuro
@cor-padrao-5: #58A5DE; // Azul Claro
@cor-padrao-6: #FF8000; // Laranja
@cor-padrao-7: #B0D0E6; // Azul Claro
@cor-padrao-8: #064B91; // Azul Mediano 
@cor-padrao-9: #0D3660; // Azul Mediano
@cor-padrao-10: #EBF1F3; // Cinza Claro
@cor-padrao-11: #444444; // Cinza
@cor-padrao-12: #7FB3D5; // Azul Claro
@cor-padrao-13: #E2E2E2; // Cinza Claro
@cor-padrao-14: #F8F8F8; // Branco 10% escuro
@cor-padrao-15: #54A76C; // Verde
@cor-padrao-16: #FD5858; // Vermelho Claro
@cor-padrao-17: #FC2525; // Vermelho Escuro
@cor-padrao-18: #FABD1D; // Amarelo Claro
@cor-padrao-19: #F3B105; // Amarelo Escuro
@cor-padrao-20: #54A76C; // Verde Claro
@cor-padrao-21: #4B9662; // Verde Escuro
@cor-padrao-22: #18A7E4; // Azul Claro
@cor-padrao-23: #1699D1; // Azul Escuro
@cor-padrao-25: #D9E4E8; // Cinza Escuro
@cor-padrao-26: #E6EEF0; // Cinza Claro
@cor-padrao-27: #EBF0F1; // Cinza Claro
@cor-padrao-28: #686C6B; // Cinza Escuro
@cor-padrao-29: #9DBAC4; // Azul Claro
@cor-padrao-30: #25A23A; // Verde
@cor-padrao-31: #1A7329; // Verde

/* Geral */
@font-face { font-family: 'raleway-light'; src: url('../fonts/raleway-light/raleway-light.eot'); src: url('../fonts/raleway-light/raleway-light.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-light/raleway-light.woff2') format('woff2'), url('../fonts/raleway-light/raleway-light.woff') format('woff'), url('../fonts/raleway-light/raleway-light.ttf') format('truetype'), url('../fonts/raleway-light/raleway-light.svg#raleway-light') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'raleway-regular'; src: url('../fonts/raleway-regular/raleway-regular.eot'); src: url('../fonts/raleway-regular/raleway-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-regular/raleway-regular.woff2') format('woff2'), url('../fonts/raleway-regular/raleway-regular.woff') format('woff'), url('../fonts/raleway-regular/raleway-regular.ttf') format('truetype'), url('../fonts/raleway-regular/raleway-regular.svg#raleway-regular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'raleway-semibold'; src: url('../fonts/raleway-semibold/raleway-semibold.eot'); src: url('../fonts/raleway-semibold/raleway-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-semibold/raleway-semibold.woff2') format('woff2'), url('../fonts/raleway-semibold/raleway-semibold.woff') format('woff'), url('../fonts/raleway-semibold/raleway-semibold.ttf') format('truetype'), url('../fonts/raleway-semibold/raleway-semibold.svg#raleway-semibold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-regular.eot'); src: url('../fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat/montserrat-regular.woff') format('woff'), url('../fonts/montserrat/montserrat-regular.ttf') format('truetype'), url('../fonts/montserrat/montserrat-regular.svg#montserrat') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'segoe-ui-regular'; src: url('../fonts/segoe-ui-regular/segoe-ui-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/segoe-ui-regular/segoe-ui-regular.woff') format('woff'), url('../fonts/segoe-ui-regular/segoe-ui-regular.ttf') format('truetype'), url('../fonts/segoe-ui-regular/segoe-ui-regular.svg#segoe-ui-regular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'opensans-regular'; src: url('../fonts/opensans/opensans-regular.eot'); src: url('../fonts/opensans/opensans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-regular.woff2') format('woff2'), url('../fonts/opensans/opensans-regular.woff') format('woff'), url('../fonts/opensans/opensans-regular.ttf') format('truetype'), url('../fonts/opensans/opensans-regular.svg#opensans-regular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'droid-sans-regular'; src: url('../fonts/droid-sans/droid-sans.eot'); src: url('../fonts/droid-sans/droid-sans.eot?#iefix') format('embedded-opentype'), url('../fonts/droid-sans/droid-sans.woff') format('woff'), url('../fonts/droid-sans/droid-sans.ttf') format('truetype'), url('../fonts/droid-sans/droid-sans.svg#droid-sans') format('svg'); font-weight: normal; font-style: normal; }

* { -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,  code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
strong { border: 0; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
html { overflow-y: scroll; }
body { font-family: 'raleway-light'; background: @cor-padrao-1; color: @cor-padrao-2; font-size: 12px; overflow-y: hidden; }
article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; margin: 0 0 15px; margin: 0 0 1.5em; width: 100%; }
th { font-weight: bold; }
th, td { padding: 6px 10px; }
caption, th, td { text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a, a:hover, a:focus, a:active, a:visited { text-decoration: none; }
a img { border: 0; }
.none { display: none; }
.nopadding { padding: 0; }
.img-responsive { display: initial; }

:focus { outline: none !important; }
::selection { background: @cor-padrao-7; color: @cor-padrao-1; }
::-moz-selection { background: @cor-padrao-7; color: @cor-padrao-1; }

/* Inicio Formulário */
.form-control {
	border: 0; -webkit-box-shadow: none; box-shadow: none;

	&:focus {
		border: 0; -webkit-box-shadow: none; box-shadow: none;
	}
}

input[type=checkbox]:not(old),
input[type=radio]:not(old) {
	width: 2em; margin: 0; padding: 0; cursor: pointer; font-size: 1em; opacity: 0; transition: none; -moz-transition: none; -webkit-transition: none; -o-transition: none;
}

input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label {
	display: inline-block; margin-left: -2em; cursor: pointer; line-height: 30px; font-family: 'raleway-light'; font-size: 21px; transition: none; -moz-transition: none; -webkit-transition: none; -o-transition: none;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio]:not(old) + label > span {
	display: inline-block; width: 26px; height: 26px; cursor: pointer; margin: 0.25em 0.5em 0.25em 0.25em; border: 1px solid @cor-padrao-12; border-radius: 50%; background: @cor-padrao-1; vertical-align: bottom; transition: none; -moz-transition: none; -webkit-transition: none; -o-transition: none;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio]:not(old):checked + label > span {
	background: @cor-padrao-1; cursor: pointer; transition: none; -moz-transition: none; -webkit-transition: none; -o-transition: none;
}

input[type=checkbox]:not(old):checked + label > span:before {
	content: 'âœ"'; display: block; width: 1em; color: @cor-padrao-12; font-size: 0.875em; line-height: 1em; text-align: center; font-weight: bold; transition: none; -moz-transition: none; -webkit-transition: none; -o-transition: none;
}

input[type=radio]:not(old):checked +  label > span > span {
	display: block; cursor: pointer; width: 11px; height: 11px; margin: 29% 0 0 25.5%; border-radius: 50%; background: @cor-padrao-12; transition: none; -moz-transition: none; -webkit-transition: none; -o-transition: none;
}
/* Fim Formulário */

/* Header */
header {
	.barra-bem-vindo {
		background: @cor-padrao-10; color: @cor-padrao-3; font-family: 'segoe-ui-regular'; font-weight: bold; font-size: 14px; line-height: 30px;

		a {
			color: @cor-padrao-3;

			&:hover {
				color: @cor-padrao-5; text-decoration: underline;
			}
		}
	}

	.barra-logo {
		background: @cor-padrao-3; line-height: 66px;

		.container {
			padding-top: 10px; padding-bottom: 10px;

			.img-logo-umv {
				float: left; border-right: 1px solid @cor-padrao-1; padding-right: 20px; margin-right: 20px;
			}
		}
	}
}

/* Conteudo */
.conteudo {
	.home {
		font-family: 'droid-sans-regular'; margin-top: 20px;

		.box-entrada {
			margin-top: 20px; padding: 25px 30px; color: @cor-padrao-11; background: @cor-padrao-27; min-height: 260px;

			h1,
			h2 {
				font-size: 19px; margin-bottom: 15px;
			}

			p {
				font-size: 15px; margin-bottom: 15px;
			}

			a {
				color: @cor-padrao-11; font-size: 15px;

				&:hover {
					text-decoration: underline;
				}
			}

			form {
				.form-control {
					border: 1px solid @cor-padrao-29; height: 40px; margin: 5px 0;
				}

				.btn {
					background: @cor-padrao-30; text-align: center; width: 100%; height: 40px; color: @cor-padrao-1; margin: 5px 0;

					&:hover {
						background: @cor-padrao-31;
					}
				}
			}

			.img-funcionario {
				position: absolute; top: -5px; left: 25px;
			}
		}

		.entrada-loja {
			background: url('../imagens/entrada-loja.png') no-repeat bottom center; height: 430px; margin: 10px 0; border-bottom: 1px solid @cor-padrao-28;
		}

		.linha-banner-publicitario {
			margin: 20px 0;
		}
	}

	.ctn-breadcrumb {
		border-bottom: 1px solid @cor-padrao-12;

		ul#steps.breadcrumb {
			background: @cor-padrao-1; list-style: none; width: 100%; margin: 0; padding: 10px 0; .borda-arredondada(0);

			li {
				position: relative; font-size: 14px; height: 43px; width: 16.66%; text-align: center; font-family: 'raleway-regular'; transition: all 0.3s; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s; vertical-align: middle;

				&::before {
					content: " ";
				}

				&::after {
					content: "\025ef"; padding: 5px 0; position: absolute; top: 78%; left: 50%; color: @cor-padrao-12; margin-top: 5px; background: @cor-padrao-1;
				}
			}

			li.current {
				color: @cor-padrao-11;

				&::after {
					font-size: 20px; content: "\025c9"; position: absolute; top: 68%; left: 50%; color: @cor-padrao-12;
				}
			}
		}
	}

	.frm-planograma {
		margin-top: 20px;

		fieldset {
			legend {
				display: none;
			}

			h1 {
				font-family: 'raleway-light'; font-size: 32px; border-left: 3px solid @cor-padrao-13; padding: 20px;
			}

			section {
				margin: 40px 0 14px;

				label {
					cursor: pointer;
				}

				.ctn-informacao {
					font-size: 14px; font-family: 'segoe-ui-regular'; border: 1px solid @cor-padrao-13; background: @cor-padrao-14; padding: 20px 33px; line-height: 20px; -webkit-box-shadow: none; box-shadow: none; .borda-arredondada(0.4rem);

					.img-informacao {
						position: absolute; top: -6px; right: 11px; color: @cor-padrao-1; background: url('../imagens/suporte-tag-info.png') no-repeat center center; width: 19px; height: 21px; vertical-align: bottom; padding-left: 4px;
					}
				}
			}

			section.loja {
				.box-loja {
					.ctn-img {
						padding: 0;
					}
				}
			}

			section.categoria {
				.ctn-categorias {
					border: 1px solid @cor-padrao-13; background: @cor-padrao-14; margin-top: 40px; padding: 20px 15px; font-size: 17px; .borda-arredondada(0.4rem);

					.ctn-filtro {
						float: left; width: 97%; border-bottom: 1px solid @cor-padrao-13; padding: 0 0 15px 15px; margin: 0 0 10px 15px;

						label {
							float: left; margin-top: 5px; margin-right: 10px;
						}

						.input-group {
							float: left; width: 35%;
						}

						input[type="text"] {
							border: 1px solid @cor-padrao-13; height: 36px;
						}

						.btn {
							background: @cor-padrao-15; color: @cor-padrao-1; border: none; height: 36px;
						}
					}

					.lista-categorias {
						max-height: 300px;
					}
				}
			}

			section.estado {
				.ctn-estados {
					border: 1px solid @cor-padrao-13; background: @cor-padrao-14; margin-top: 40px; padding: 20px 15px; font-size: 17px; .borda-arredondada(0.4rem);

					.lista-estados {
						max-height: 300px;
					}
				}
			}

			section.quantidade-modulos {
				.ctn-modulos {
					margin-top: 40px;

					.box-quantidade-modulos {
						.ctn-img {
							padding: 0;
						}
					}
				}
			}

			section.quantidade-prateleiras {
				.ctn-prateleiras {
					margin-top: 40px;

					.box-quantidade-prateleiras {
						.ctn-img {
							padding: 0;
						}

						.form-control {
							width: auto; border: 1px solid @cor-padrao-13; display: inline-block;
						}
					}
				}
			}

			section.informe-seus-dados {
				.ctn-dados-pessoais {
					.input-group {
						width: 100%; margin: 14px 0;

						.input-group-addon {
							background: @cor-padrao-3; width: 38px; height: 38px; border: none;

							.fa {
								color: @cor-padrao-1;
							}
						}

						input[type="text"] {
							border: 1px solid @cor-padrao-13; height: 38px;
						}
					}
				}
			}

			.commands {
				.prev,
				.next {
					position: relative; text-decoration: none; padding: 14px; width: 175px; color: @cor-padrao-1; font-family: 'montserrat'; font-size: 16px; margin: 20px 0; .borda-arredondada(0.4rem);

					.fa {
						position: absolute; text-align: center; width: 50px; top: 0px; padding: 17px 0px;
					}
				}

				.prev {
					float: left; text-align: right; background: @cor-btn-anterior; border-bottom: 3px solid @cor-border-btn-anterior;

					.fa {
						left: 0px; background: @cor-seta-btn-anterior;
					}

					&:hover {
						background: darken(@cor-btn-anterior, 10%); border-bottom: 3px solid darken(@cor-border-btn-anterior, 10%);

						.fa {
							background: darken(@cor-seta-btn-anterior, 10%);
						}
					}
				}

				.next {
					float: right; text-align: left; background: @cor-btn-proximo; border-bottom: 3px solid @cor-border-btn-proximo;

					.fa {
						right: 0px; background: @cor-seta-btn-proximo;
					}

					&:hover {
						background: darken(@cor-btn-proximo, 10%); border-bottom: 3px solid darken(@cor-border-btn-proximo, 10%);

						.fa {
							background: darken(@cor-seta-btn-proximo, 10%);
						}
					}
				}

				#enviar {
					width: 260px; border: none; border-bottom: 3px solid @cor-border-btn-proximo;

					.fa {
						border-top-right-radius: 0.3rem;
					}
				}
			}
		}
	}

	section.conclusao-planograma {
		margin-bottom: 2rem;

		h1 {
			font-family: 'raleway-light'; font-size: 32px; border-left: 3px solid @cor-padrao-13; padding: 20px; margin: 20px 0 10px;
		}

		.zoom-foto {
			position: absolute; width: 100%; height: 300px; top: 0px; left: 0px; z-index: 1000;
		}

		.table {
			font-size: 16px;

			thead {
				tr {
					th {
						background: @cor-padrao-25; border-color: @cor-padrao-1; text-align: center;
					}
				}
			}

			tbody {
				tr {
					td {
						background: @cor-padrao-26; border-color: @cor-padrao-1; text-align: center;

						&:first-child {
							text-align: right;
						}
					}
				}
			}
		}

		.ctn-btn-planograma {
			margin-bottom: 10px;

			.btn-acao {
				float: left; position: relative; border: none; text-decoration: none; padding: 14px 50px 14px 14px; width: 100%; color: @cor-padrao-1; font-family: 'raleway-semibold'; font-weight: bold; font-size: 12px; margin: 10px 0; .borda-arredondada(0.4rem);

				.fa {
					position: absolute; text-align: center; font-size: 18px; width: 50px; top: 0px; padding: 13px 0px; border-top-right-radius: 0.3rem; border-bottom-right-radius: 0.3rem;
				}
			}

			.comprar {
				text-align: left; background: @cor-padrao-16;

				.fa {
					right: 0px; background: @cor-padrao-17;
				}

				&:hover {
					background: darken(@cor-padrao-16, 10%);

					.fa {
						background: darken(@cor-padrao-17, 10%);
					}
				}
			}

			.download {
				text-align: left; background: @cor-padrao-18;

				.fa {
					right: 0px; background: @cor-padrao-19;
				}

				&:hover {
					background: darken(@cor-padrao-18, 10%);

					.fa {
						background: darken(@cor-padrao-19, 10%);
					}
				}
			}

			.enviar-email {
				text-align: left; background: @cor-padrao-20;

				.fa {
					right: 0px; background: @cor-padrao-21;
				}

				&:hover {
					background: darken(@cor-padrao-20, 10%);

					.fa {
						background: darken(@cor-padrao-21, 10%);
					}
				}
			}

			.imprimir {
				text-align: left; background: @cor-padrao-22;

				.fa {
					right: 0px; background: @cor-padrao-23;
				}

				&:hover {
					background: darken(@cor-padrao-22, 10%);

					.fa {
						background: darken(@cor-padrao-23, 10%);
					}
				}
			}
		}
	}
}

/* Footer */
footer {
		background: @cor-padrao-9; font-family: 'opensans-regular'; font-size: 13px;

		.parceiros {
			background: @cor-padrao-3; font-family: 'Arial'; font-weight: bold; font-size: 10px; border: none; min-height: 31px; line-height: 31px; box-shadow: none; margin-bottom: 50px;

			a {
				color: @cor-padrao-1;

				&:hover {
					color: @cor-padrao-5; text-decoration: underline;
				}
			}

			ul {
				li {
					padding: 0 10px;
				}
			}
		}

		.container {

			.sprite-footer {
				background: url("../imagens/sprite-footer.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 25px; position: relative; top: 4px; width: 26px;
			}

			.icon-twitter {
				background-position: -304px -162px;
			}

			a:hover .icon-twitter {
				background-position: -344px -162px;
			}

			.icon-facebook {
				background-position: -400px 0;
			}

			a:hover .icon-facebook {
				background-position: -440px 0;
			}

			.icon-youtube {
				background-position: -404px -35px;
			}

			a:hover .icon-youtube {
				background-position: -444px -35px;
			}

			.icon-agroveterinarios {
				background-position: 0 0;
			}

			a:hover .icon-agroveterinarios {
				background-position: -40px 0;
			}

			.icon-alimentos {
				background-position: 0 -41px;
			}

			a:hover .icon-alimentos {
				background-position: -40px -41px;
			}

			.icon-bebidas {
				background-position: 0 -81px;
			}

			a:hover .icon-bebidas {
				background-position: -40px -81px;
			}

			.icon-bomboniere {
				background-position: 0 -125px;
			}

			a:hover .icon-bomboniere {
				background-position: -40px -125px;
			}

			.icon-calcados {
				background-position: 0 -167px;
			}

			a:hover .icon-calcados {
				background-position: -40px -167px;
			}

			.icon-cine-foto {
				background-position: -100px 0;
			}

			a:hover .icon-cine-foto {
				background-position: -140px 0;
			}

			.icon-eletro {
				background-position: -100px -40px;
			}

			a:hover .icon-eletro {
				background-position: -140px -40px;
			}

			.icon-escolares-escritorios {
				background-position: -100px -81px;
			}

			a:hover .icon-escolares-escritorios {
				background-position: -140px -81px;
			}

			.icon-ferramentas {
				background-position: -100px -125px;
			}

			a:hover .icon-ferramentas {
				background-position: -140px -125px;
			}

			.icon-higiene {
				background-position: -100px -165px;
			}

			a:hover .icon-higiene {
				background-position: -140px -165px;
			}

			.icon-implementos-agropecuarios {
				background-position: -200px 3px;
			}

			a:hover .icon-implementos-agropecuarios {
				background-position: -240px 3px;
			}

			.icon-informatica {
				background-position: -200px -40px;
			}

			a:hover .icon-informatica {
				background-position: -240px -40px;
			}

			.icon-limpeza {
				background-position: -200px -83px;
			}

			a:hover .icon-limpeza {
				background-position: -240px -83px;
			}

			.icon-material-construcao {
				background-position: -200px -124px;
			}

			a:hover .icon-material-construcao {
				background-position: -240px -124px;
			}

			.icon-telecomunicacoes {
				background-position: -200px -166px;
			}

			a:hover .icon-telecomunicacoes {
				background-position: -240px -166px;
			}

			.icon-utensilios-domesticos {
				background-position: -300px 0;
			}

			a:hover .icon-utensilios-domesticos {
				background-position: -340px 0;
			}

			.icon-equipamentos-institucionais {
				background-position: -300px -40px;
			}

			a:hover .icon-equipamentos-institucionais {
				background-position: -340px -40px;
			}

			.icon-camping-lazer {
				background-position: -300px -82px;
			}

			a:hover .icon-camping-lazer {
				background-position: -340px -82px;
			}

			.icon-bebes-criancas {
				background-position: -300px -125px;
			}

			a:hover .icon-bebes-criancas {
				background-position: -340px -125px;
			}

			.icon-telefone {
				background-position: -403px -81px;
			}

			li.telefone:hover {
				color: @cor-padrao-5;

				.icon-telefone {
					background-position: -443px -81px;
				}
			}

			ul.social {
				text-align: center;

				li {
					display: inline; margin: 0 3px;

					a {
						display: inline-block; line-height: 10px;

						i {
							margin: 0;
						}
					}
				}
			}

			p {
				color: @cor-padrao-5; font-family: 'Arial'; font-size: 11px; line-height: 18px; margin: 14px 10px;
			}

			h3 {
				color: @cor-padrao-1; font-size: 19px; font-weight: normal; line-height: 19px; margin: 0;
			}

			.ctnTodosDepartamentos {
				ul {
					list-style: none; margin: 10px 0;

					li {
						a {
							color: @cor-padrao-1; font-size: 15px; line-height: 46px; letter-spacing: -0.6px;

							&:hover {
								color: @cor-padrao-5;
							}

							i {
								margin-right: 5px;
							}
						}
					}
				}
			}

			ul.ulNivel2 {
				li {
					color: @cor-padrao-1; letter-spacing: -0.6px; line-height: 25px;

					a {
						line-height: 25px;
					}
				}

				.telefone {
					font-size: 18px; font-weight: bold;
				}
			}
		}

		.contato-telefone {
			padding-top: 14px; padding-bottom: 10px; border-top: 1px solid @cor-padrao-8; margin-top: 20px;

			a {
				color: @cor-padrao-1; letter-spacing: -0.6px; line-height: 15px;

				&:hover {
					color: @cor-padrao-5;
				}
			}

			.direitos-reservados {
				position: relative; right: 0; top: 50px; text-align: right; color: @cor-padrao-1;
			}

			.desenvolvido {
				padding: 10px 0; height: 50px; overflow: hidden; position: relative; top: 40px;

				.developed {
					color: @cor-padrao-1; position: relative; text-decoration: none;

					span {
						position: relative; line-height: 30px; top: 0; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;
					}

					.img-logo-wing {
						padding-left: 0.5rem;
					}

					.wing {
						opacity: 0; position: absolute; right: 50px; top: 20px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;
					}
				
					&:hover span, 
					&:focus span {
						top: -7px; line-height: 30px;
					}
				
					&:hover .wing, 
					&:focus .wing {
						display: block; opacity: 1; position: absolute; right: 50px; top: 4px; transform: all 1s ease;
					}
				}
			}
		}
	}

/* Responsivo */
@media (max-width:1199px) {
	header {

	}

	.conteudo {

	}

	footer {

	}
}

@media (max-width:991px) {
	header {

	}

	.conteudo {

	}
}

@media (max-width:769px) {
	.navbar-collapse.collapse {
		display: none;
	}

	.navbar-collapse.collapse.in {
		display: block;
	}

	header {
		.navbar-toggle {
			display: block; background: @cor-padrao-1; margin: 0 0 0 0.5rem; float: right; margin-top: -0.6rem;

			.icon-bar {
			    background: @cor-padrao-3;
			}
		}

		.logo-menu {
			.barra-logo-menu {
				a.navbar-brand {
					text-align: center;
				}

				button {
					margin-top: 3.5rem;
				}

				.menu-main-header.navegacao {
					position: fixed; z-index: 1000; background: rgba(255, 255, 255, 0.9); top: 4.2rem; right: 0; width: 100%; height: 100%;

					ul {
						width: 50%; float: right;

						li {
							display: flex; float: left; width: 100%; background: @cor-padrao-1;

							a {
								background: transparent; line-height: 7rem; width: 100%;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width:768px) {
	header {
		.navbar-toggle {
			display: block; background: @cor-padrao-1; margin: 0 0 0 0.5rem; margin-top: -0.6rem;

			.icon-bar {
				background: @cor-padrao-3;
			}
		}
	}

	.conteudo {
		.nav-tabs.nav-justified {
			li {
				float: left; width: 33.3%; margin-bottom: -0.7rem;

				a {
					height: 5rem; line-height: 5rem;
				}
			}
		}
	}

	footer {

	}
}

@media (max-width:660px) {
	.conteudo {

	}

	footer {

	}
}

@media (max-width:560px) {
	header {

	}

	.conteudo {

	}
}

@media (max-width:530px) {
	.conteudo {

	}
}

@media (max-width:480px) {
	header {

	}

	.conteudo {

	}

	footer {

	}
}

@media (max-width:360px) {
	header {

	}

	.conteudo {

	}
}

@media (max-width:300px) {
	.conteudo {

	}
}