body{
    font-size: 14px;
}

* {
    transition: none;
}

.bg-primary,
.frm-planograma input[type=radio]:not(old):checked + label > span > span,
.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover{
    background: #f5832c;
}

.text-primary, .text-primary:hover,
a, a:hover, a:focus,
footer .contato-telefone a, footer .contato-telefone a:hover{
    color: #f5832c;
}

.text-default, .text-default:hover{
    color: #5b5b5f;
}

.border-primary,
.frm-planograma input[type=checkbox]:not(old) + label > span, input[type=radio]:not(old) + label > span{
    border-color: #f5832c;
}

.navbar-custom .navbar-toggle{
    border-color: white;
}

.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover{
    border-color: #f5832c;
    background: #f5832c;
}

.bg-dark{
    background: #141414;
}

.no-border{
    border: 0;
}

.maxmix-cover{
    height: 342px;
    background: url("../imagens/mix-cover.png") center top no-repeat;
}

footer .container ul.ulNivel2 li {
    color: #f5832c;
}

footer .container li.telefone:hover {
    color: white;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #5B5B5F;
}

h1, .h1{
    font-weight: 700;
    font-size: 33px;
    color: #f5832c;
    text-transform: uppercase;
}

h2, .h2{
    font-weight: 500;
    font-size: 33px;
}

h1.title{
    font-size: 24px;
    /*color: #5b5b5f;*/
}

h1.title img{
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns="\'http://www.w3.org/2000/svg\'"><filter id="\'grayscale\'"><feColorMatrix type="\'matrix\'" values="\'0.3333" 0.3333="" 0="" 1="" 0\'=""></feColorMatrix></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(1);*/
}

p,
.jumbotron p {
    /*font-weight: 300;*/
    font-size: 14px;
}

.jumbotron{
    display: flex;
    flex-direction: column;
}

.font-23{
    font-size: 23px;
}

.box-info, .jumbotron {
    border: 3px solid #f5832c;
    border-radius: 10px;
    background: white;
}

.jumbotron.jumbotron-default{
    background: #F8F8F8;
    border: 1px solid #E2E2E2;
}

.btn{
    font-weight: 300;
    /*font-size: 18px;*/
    line-height: 1.2;
}

.btn .material-icons{
    /*font-size: 18px;*/
    vertical-align: top;
}

.btn-sm,
.btn-sm .material-icons{
    /*font-size: 15px;*/
}

.btn-xs,
.btn-xs .material-icons{
    /*font-size: 13px;*/
}

.btn-default{
    background: #5B5B5F;
    border-color: #5B5B5F;
    color: #fff;
}

.btn-primary{
    background: #f5832c;
    border-color: #f5832c;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #dc6000;
    border-color: #dc6000;
}

.btn-link{
    color: #f5822a;
}

.btn-link:hover, .btn-link:focus {
    color: #141414;
}

.form-control{
    border-color: #bbb;
    color: #5B5B5F;
}

.form-control:focus {
    border-color: #f5832c;
}

.navbar-custom{
    background: url("../imagens/mix-bar.jpg") center 40% no-repeat;
}

.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:focus, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:focus, .navbar-custom .navbar-nav > .open > a:hover {
    background: rgba(251, 251, 251, 0.3);
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #5b5b5f;
}

.margin-r-10{
    margin-right: 10px;
}

.margin-b-10{
    margin-bottom: 10px !important;
}

.margin-t-30{
    margin-top: 30px !important;
}

hr{
    margin-bottom: 10px;
}

.conteudo .ctn-breadcrumb{
    border-color: #bbb;
}

.conteudo .ctn-breadcrumb ul#steps.breadcrumb li{
    width: 25%;
}

.conteudo .ctn-breadcrumb ul#steps.breadcrumb li::after{
    color: #bbb;
    left: 47%;
}

.conteudo .ctn-breadcrumb ul#steps.breadcrumb li.current::after{
    color: #f5832c;
}

.conteudo .ctn-breadcrumb ul#steps.breadcrumb li,
.conteudo .ctn-breadcrumb ul#steps.breadcrumb li.current {
    color: inherit;
}

.btn.next {
    color: white;
    padding: 0;
    float: right;
    background: #F5822A;
    border: 0;
}

.btn.prev {
    color: white;
    padding: 0;
    float: left;
    background: #5B5B5F;
    border: 0;
}

.btn.next span, .btn.prev span {
    padding: 0 15px;
    text-align: left;
    font-weight: bold;
    text-transform: inherit;
}

.btn.next i {
    padding: 15px 10px;
    background: #C76A22;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border: 0;
}

.btn.prev i {
    padding: 15px 10px;
    background: #313131;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 0;
}

.btn.next .material-icons,
.btn.prev .material-icons{
    vertical-align: middle;
}

.btn.next:hover, .btn.next:hover i{
    background: #dc6000;
    border: 0;
}

.btn.prev:hover, .btn.prev:hover i{
    background: #313131;
    border: 0;
}

.conteudo section.conclusao-planograma .table thead tr th {
    background: #dadada;
}

.conteudo section.conclusao-planograma .table tbody tr td {
    background: #eff0f1;
}

.panel-primary {
    border-color: #5B5B5F;
}

.panel-perishable {
    border-color: #9e9e9e;
}

.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #5B5B5F;
    border-color: #5B5B5F;
}

.panel-perishable > .panel-heading {
    color: #ffffff;
    background-color: #9e9e9e;
    border-color: #9e9e9e;
}

.steps{
    border-bottom: 1px solid #bbb;
    margin-bottom: 45px;
    padding: 0 0 22px 0;
    text-transform: uppercase;
}

.steps .step a{
    color: initial;
    font-size: 14px;
}

.steps .step.active{
    font-weight: bold;
}

.steps .step::after {
    content: "\025ef";
    font-size: 25px;
    font-size-adjust: .3;
    position: absolute;
    top: 30px;
    left: 43%;
    color: #bbb;
    background: #FFF;
}

.steps .step.active::after{
    content: "\025c9";
    font-size: 32px;
    top: 25px;
    font-weight: normal;
    color: #f5832c;
}

.has-success .form-control, .has-success .form-control:focus {
    border: 2px solid #f5832c;
}