/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/CWB0XYA8bzo0kSThX0UTuA.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/oOeFwZNlrTefzLYmlVV1UBJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*!* latin *!
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('../fonts/roboto-condensed/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2') format('woff2'), url('../fonts/roboto-condensed/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
!* latin *!
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('../fonts/roboto-condensed/b9QBgL0iMZfDSpmcXcE8nHm2hrkyco9jQ3NKMXpgOBg.woff2') format('woff2'), url('../fonts/roboto-condensed/b9QBgL0iMZfDSpmcXcE8nCSLrGe-fkSRw2DeVgOoWcQ.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
!* latin *!
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url('../fonts/roboto-condensed/BP5K8ZAJv9qEbmuFp8RpJdbvlX87CS9_IgWvysdluIM.woff2') format('woff2'), url('../fonts/roboto-condensed/BP5K8ZAJv9qEbmuFp8RpJfHZ7IfZvqUgXLEMrfwTXOk.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../fonts/material-icons/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2") format("woff2"), url("../fonts/material-icons/2fcrYFNaTjcS6g4U3t-Y5ewrjPiaoEww8AihgqWRJAo.woff") format("woff"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

.conteudo .frm-planograma fieldset section.categoria .ctn-categorias .lista-categorias,
.conteudo .frm-planograma fieldset section.estado .ctn-estados .lista-estados {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden; }

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent; }

.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
  background: transparent; }

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px; }

* {
  transition: all 0.3s ease; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 15px;
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: 700; }

td, th {
  padding: 6px 10px; }

caption, td, th {
  text-align: left; }

blockquote:after, blockquote:before, q:after, q:before {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a, a:active, a:focus, a:hover, a:visited {
  text-decoration: none; }

a img {
  border: 0; }

.none {
  display: none; }

.nopadding {
  padding: 0; }

.img-responsive {
  display: initial; }

:focus {
  outline: 0 !important; }

::selection {
  background: #B0D0E6;
  color: #FFF; }

::-moz-selection {
  background: #B0D0E6;
  color: #FFF; }

.frm-planograma input[type=checkbox]:not(old), input[type=radio]:not(old) {
  width: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1em;
  opacity: 0;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none; }

.frm-planograma input[type=checkbox]:not(old) + label, input[type=radio]:not(old) + label {
  display: inline-block;
  cursor: pointer;
  line-height: 30px;
  font-size: 21px;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none; }

.frm-planograma input[type=checkbox]:not(old) + label > span,
input[type=radio]:not(old) + label > span {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid #7FB3D5;
  background: #FFF;
  vertical-align: bottom;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none; }

input[type=radio]:not(old) + label > span {
  border-radius: 50%; }

.frm-planograma input[type=checkbox]:not(old):checked + label > span,
input[type=radio]:not(old):checked + label > span {
  background: #FFF;
  cursor: pointer;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none; }

.frm-planograma input[type=checkbox]:not(old):checked + label > span:before {
  content: " ";
  display: block;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  width: 20px;
  margin: 5px 0px 0px 2px;
  height: 9px;
  border: 4px solid #f48129;
  transform: rotate(-45deg);
  border-top: 0;
  border-right: 0; }

.frm-planograma input[type=radio]:not(old):checked + label > span > span {
  display: block;
  cursor: pointer;
  width: 11px;
  height: 11px;
  margin: 6px;
  border-radius: 50%;
  background: #7FB3D5;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none; }

.conteudo .home .linha-banner-publicitario {
  margin: 20px 0; }

.conteudo .ctn-breadcrumb {
  border-bottom: 1px solid #7FB3D5; }

.conteudo .ctn-breadcrumb ul#steps.breadcrumb {
  background: #FFF;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0; }

.conteudo .ctn-breadcrumb ul#steps.breadcrumb li {
  position: relative;
  font-size: 14px;
  height: 50px;
  width: 20%;
  text-align: center;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  vertical-align: middle; }

.conteudo .ctn-breadcrumb ul#steps.breadcrumb li::before {
  content: " "; }

.conteudo .ctn-breadcrumb ul#steps.breadcrumb li::after {
  content: "\025ef";
  font-size: 25px;
  font-size-adjust: .3;
  padding: 5px 0;
  position: absolute;
  top: 65%;
  left: 49%;
  color: #7FB3D5;
  margin-top: 5px;
  background: #FFF; }

.conteudo .ctn-breadcrumb ul#steps.breadcrumb li.current {
  color: black;
  font-weight: bold; }

.conteudo .ctn-breadcrumb ul#steps.breadcrumb li.current::after {
  font-size: 32px;
  font-size-adjust: .3;
  content: "\025c9";
  position: absolute;
  top: 56%;
  left: 45%;
  color: #7FB3D5; }

.conteudo .frm-planograma {
  margin-top: 10px; }

.conteudo .frm-planograma fieldset legend {
  display: none; }

.conteudo .frm-planograma fieldset h3 {
  font-size: 28px;
  border-left: 3px solid #E2E2E2;
  padding: 0 20px 0;
  margin: 0; }

.conteudo .frm-planograma fieldset section {
  margin: 20px 0 10px; }

.conteudo .frm-planograma fieldset section label {
  cursor: pointer; }

.conteudo .frm-planograma fieldset section .ctn-informacao {
  font-size: 14px;
  border: 1px solid #E2E2E2;
  background: #F8F8F8;
  padding: 20px 33px;
  line-height: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  border-radius: 0.4rem; }

.conteudo .frm-planograma fieldset section.categoria .ctn-categorias .lista-categorias label, .conteudo .frm-planograma fieldset section.estado .ctn-estados .lista-estados label {
  font-size: 17px;
  line-height: 34px; }

.conteudo .frm-planograma fieldset section .ctn-informacao .img-informacao {
  position: absolute;
  top: -6px;
  right: 20px;
  color: #FFF;
  background: url(../imagens/suporte-tag-info.png) center center no-repeat;
  width: 19px;
  height: 21px;
  vertical-align: bottom;
  padding-left: 4px; }

.conteudo .frm-planograma fieldset section.loja .box-loja .ctn-img {
  padding: 0; }

.conteudo .frm-planograma fieldset section.categoria .ctn-categorias {
  border: 1px solid #E2E2E2;
  background: #F8F8F8;
  margin-top: 20px;
  padding: 20px 15px;
  font-size: 17px;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  border-radius: 0.4rem; }

.conteudo .frm-planograma fieldset .ctn-filtro {
  border-bottom: 1px solid #E2E2E2;
  padding: 0 15px 15px 0;
  margin-bottom: 15px; }

.conteudo .frm-planograma fieldset section.quantidade-modulos .ctn-modulos, .conteudo .frm-planograma fieldset section.quantidade-prateleiras .ctn-prateleiras {
  margin-top: 40px; }

.conteudo .frm-planograma fieldset section.estado .ctn-estados {
  border: 1px solid #E2E2E2;
  background: #F8F8F8;
  margin-top: 20px;
  padding: 20px 15px;
  font-size: 17px;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  border-radius: 0.4rem; }

.conteudo .frm-planograma fieldset section.quantidade-modulos .ctn-modulos .box-quantidade-modulos .ctn-img, .conteudo .frm-planograma fieldset section.quantidade-prateleiras .ctn-prateleiras .box-quantidade-prateleiras .ctn-img {
  padding: 0; }

.conteudo .frm-planograma fieldset section.quantidade-prateleiras .ctn-prateleiras .box-quantidade-prateleiras .form-control {
  width: auto;
  /*border: 1px solid #E2E2E2;*/
  display: inline-block; }

.conteudo .frm-planograma fieldset section.informe-seus-dados .ctn-dados-pessoais .input-group {
  width: 100%;
  margin: 14px 0; }

.conteudo .frm-planograma fieldset section.informe-seus-dados .ctn-dados-pessoais .input-group .input-group-addon {
  background: #004282;
  width: 38px;
  height: 38px;
  border: none; }

.conteudo .frm-planograma fieldset section.informe-seus-dados .ctn-dados-pessoais .input-group .input-group-addon .fa {
  color: #FFF; }

.conteudo section.conclusao-planograma {
  margin-bottom: 2rem; }

.conteudo section.conclusao-planograma h3 {
  font-size: 28px;
  border-left: 3px solid #E2E2E2;
  padding: 15px 20px;
  margin: 0; }

.conteudo section.conclusao-planograma .zoom-foto {
  position: absolute;
  width: 50%;
  height: 350px;
  top: 73px;
  right: -310px;
  z-index: 1000; }

.conteudo section.conclusao-planograma .table {
  font-size: 14px; }

.conteudo section.conclusao-planograma .table thead tr th {
  background: #D9E4E8;
  border-color: #FFF;
  text-align: center; }

.conteudo section.conclusao-planograma .table tbody tr td {
  background: #E6EEF0;
  border-color: #FFF;
  text-align: center; }

.conteudo section.conclusao-planograma .table tbody tr td:first-child {
  text-align: right; }

.conteudo section.conclusao-planograma .ctn-btn-planograma {
  margin-bottom: 10px; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao {
  float: left;
  position: relative;
  border: none;
  text-decoration: none;
  padding: 14px 50px 14px 14px;
  width: 100%;
  color: #FFF;
  font-weight: 700;
  font-size: 11px;
  margin: 10px 0;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  border-radius: 0.4rem; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao .fa {
  position: absolute;
  text-align: center;
  font-size: 18px;
  width: 50px;
  top: 0;
  padding: 12px 0;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: 0.3rem; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .comprar {
  text-align: left;
  background: #FD5858; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .comprar .fa {
  right: 0;
  background: #FC2525; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .comprar:hover {
  background: #fc2626; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .comprar:hover .fa {
  background: #eb0303; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .download {
  text-align: left;
  background: #FABD1D; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .download .fa {
  right: 0;
  background: #F3B105; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .download:hover {
  background: #dfa305; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .download:hover .fa {
  background: #c18d04; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal {
  text-align: left;
  background: #54A76C; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal .fa {
  right: 0;
  background: #4B9662; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal:hover {
  background: #438556; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal:hover .fa {
  background: #3a744c; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria {
  text-align: left;
  background: #18A7E4; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria .fa {
  right: 0;
  background: #1699D1; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria:hover {
  background: #1385b6; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria:hover .fa {
  background: #1177a3; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir {
  text-align: left;
  background: #686C6B; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir .fa {
  right: 0;
  background: #444; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir:hover {
  background: #4f5251; }

.conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email:hover .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir:hover .fa {
  background: #2b2b2b; }

footer .parceiros {
  background: #004282;
  margin-bottom: 20px; }

footer .parceiros a {
  color: #FFF; }

footer .parceiros a:hover {
  color: #58A5DE;
  text-decoration: underline; }

footer .parceiros ul li {
  padding: 0 10px; }

footer .container .sprite-footer {
  background: url(../imagens/sprite-footer.png) no-repeat;
  display: inline-block;
  height: 25px;
  position: relative;
  top: 4px;
  width: 26px; }

footer .container .icon-twitter {
  background-position: -304px -162px; }

footer .container a:hover .icon-twitter {
  background-position: -344px -162px; }

footer .container .icon-facebook {
  background-position: -400px 0; }

footer .container a:hover .icon-facebook {
  background-position: -440px 0; }

footer .container .icon-youtube {
  background-position: -404px -35px; }

footer .container a:hover .icon-youtube {
  background-position: -444px -35px; }

footer .container .icon-agroveterinarios {
  background-position: 0 0; }

footer .container a:hover .icon-agroveterinarios {
  background-position: -40px 0; }

footer .container .icon-alimentos {
  background-position: 0 -41px; }

footer .container a:hover .icon-alimentos {
  background-position: -40px -41px; }

footer .container .icon-bebidas {
  background-position: 0 -81px; }

footer .container a:hover .icon-bebidas {
  background-position: -40px -81px; }

footer .container .icon-bomboniere {
  background-position: 0 -125px; }

footer .container a:hover .icon-bomboniere {
  background-position: -40px -125px; }

footer .container .icon-calcados {
  background-position: 0 -167px; }

footer .container a:hover .icon-calcados {
  background-position: -40px -167px; }

footer .container .icon-cine-foto {
  background-position: -100px 0; }

footer .container a:hover .icon-cine-foto {
  background-position: -140px 0; }

footer .container .icon-eletro {
  background-position: -100px -40px; }

footer .container a:hover .icon-eletro {
  background-position: -140px -40px; }

footer .container .icon-escolares-escritorios {
  background-position: -100px -81px; }

footer .container a:hover .icon-escolares-escritorios {
  background-position: -140px -81px; }

footer .container .icon-ferramentas {
  background-position: -100px -125px; }

footer .container a:hover .icon-ferramentas {
  background-position: -140px -125px; }

footer .container .icon-higiene {
  background-position: -100px -165px; }

footer .container a:hover .icon-higiene {
  background-position: -140px -165px; }

footer .container .icon-implementos-agropecuarios {
  background-position: -200px 3px; }

footer .container a:hover .icon-implementos-agropecuarios {
  background-position: -240px 3px; }

footer .container .icon-informatica {
  background-position: -200px -40px; }

footer .container a:hover .icon-informatica {
  background-position: -240px -40px; }

footer .container .icon-limpeza {
  background-position: -200px -83px; }

footer .container a:hover .icon-limpeza {
  background-position: -240px -83px; }

footer .container .icon-material-construcao {
  background-position: -200px -124px; }

footer .container a:hover .icon-material-construcao {
  background-position: -240px -124px; }

footer .container .icon-telecomunicacoes {
  background-position: -200px -166px; }

footer .container a:hover .icon-telecomunicacoes {
  background-position: -240px -166px; }

footer .container .icon-utensilios-domesticos {
  background-position: -300px 0; }

footer .container a:hover .icon-utensilios-domesticos {
  background-position: -340px 0; }

footer .container .icon-equipamentos-institucionais {
  background-position: -300px -40px; }

footer .container a:hover .icon-equipamentos-institucionais {
  background-position: -340px -40px; }

footer .container .icon-camping-lazer {
  background-position: -300px -82px; }

footer .container a:hover .icon-camping-lazer {
  background-position: -340px -82px; }

footer .container .icon-bebes-criancas {
  background-position: -300px -125px; }

footer .container a:hover .icon-bebes-criancas {
  background-position: -340px -125px; }

footer .container .icon-telefone {
  background-position: -403px -81px; }

footer .container li.telefone:hover {
  color: #58A5DE; }

footer .container li.telefone:hover .icon-telefone {
  background-position: -443px -81px; }

footer .container ul.social {
  text-align: center;
  padding: 0; }

footer .container ul.social li {
  display: inline;
  margin: 0 3px; }

footer .container ul.social li a {
  display: inline-block;
  line-height: 10px; }

footer .container ul.social li a i {
  margin: 0; }

footer .container p {
  color: #58A5DE;
  font-size: 11px;
  line-height: 18px;
  margin: 14px 10px; }

footer .container h3 {
  color: #FFF;
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
  margin: 0; }

footer .container .ctnTodosDepartamentos ul {
  list-style: none;
  padding: 0; }

footer .container .ctnTodosDepartamentos ul li a {
  color: #FFF; }

footer .container .ctnTodosDepartamentos ul li a:hover {
  color: #58A5DE; }

footer .container .ctnTodosDepartamentos ul li a i {
  margin-right: 5px; }

footer .container ul.ulNivel2 li {
  color: #FFF;
  letter-spacing: -.6px;
  line-height: 25px; }

footer .container ul.ulNivel2 li a {
  line-height: 25px; }

footer .container ul.ulNivel2 .telefone {
  font-size: 18px;
  font-weight: 700; }

footer .contato-telefone {
  padding-bottom: 20px; }

footer .contato-telefone a {
  color: #FFF;
  letter-spacing: -.6px;
  line-height: 15px; }

footer .contato-telefone a:hover {
  color: #58A5DE; }

footer .contato-telefone .desenvolvido {
  padding: 10px 0;
  height: 50px;
  overflow: hidden;
  position: relative;
  top: 40px; }

footer .contato-telefone .desenvolvido .developed {
  color: #FFF;
  position: relative;
  text-decoration: none; }

footer .contato-telefone .desenvolvido .developed span {
  position: relative;
  line-height: 30px;
  top: 0;
  transition: all 0.3s ease; }

footer .contato-telefone .desenvolvido .developed .img-logo-wing {
  padding-left: 0.5rem; }

footer .contato-telefone .desenvolvido .developed .wing {
  opacity: 0;
  position: absolute;
  right: 50px;
  top: 20px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all 0.3s ease; }

footer .contato-telefone .desenvolvido .developed:focus span, footer .contato-telefone .desenvolvido .developed:hover span {
  top: -7px;
  line-height: 30px; }

footer .contato-telefone .desenvolvido .developed:focus .wing, footer .contato-telefone .desenvolvido .developed:hover .wing {
  display: block;
  opacity: 1;
  position: absolute;
  right: 50px;
  top: 4px;
  transform: all 1s ease; }

@media (max-width: 1199px) {
  .conteudo .ctn-breadcrumb ul#steps.breadcrumb li::after {
    top: 68%; }

  .conteudo .ctn-breadcrumb ul#steps.breadcrumb li.current::after {
    top: 57%; }

  .conteudo section.conclusao-planograma .zoom-foto {
    top: 88px; }

  .conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao {
    line-height: 30px; }

  .conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao .fa {
    padding: 20px 0; }

  .conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria {
    line-height: 15px; } }
@media (max-width: 991px) {
  .conteudo .home .box-entrada {
    min-height: 290px; }

  .conteudo .home .box-entrada form .form-control {
    margin: 9px 0; }

  .conteudo .home .box-entrada form .btn {
    margin: 9px 0 15px; }

  .conteudo .home .linha-banner-publicitario div {
    margin-bottom: 10px; }

  .conteudo .ctn-breadcrumb ul#steps.breadcrumb li {
    height: 68px; }

  .conteudo .ctn-breadcrumb ul#steps.breadcrumb li::after {
    top: 75%; }

  .conteudo .ctn-breadcrumb ul#steps.breadcrumb li.current::after {
    top: 70%; }

  .conteudo .frm-planograma fieldset section {
    margin-top: 20px; }

  .conteudo .frm-planograma fieldset section label {
    font-size: 17px; }

  .conteudo .frm-planograma fieldset section .ctn-informacao {
    margin: 30px 0 20px; }

  .conteudo .frm-planograma fieldset section .ctn-informacao .img-informacao {
    top: 25px; }

  .conteudo .frm-planograma fieldset section.quantidade-prateleiras .ctn-prateleiras h2 {
    font-size: 23px;
    margin: 20px 0; }

  .conteudo section.conclusao-planograma .zoom-foto {
    top: 88px;
    right: -239px; }

  .conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao, .conteudo section.conclusao-planograma .ctn-btn-planograma .comprar, .conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria, .conteudo section.conclusao-planograma .ctn-btn-planograma .download, .conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir, .conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal {
    padding: 14px 6px;
    font-size: 11px; }

  .conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .comprar .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .download .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal .fa {
    padding: 20px 6px 0 0;
    background: 0 0;
    text-align: right; }

  .conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao .fa:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao:hover .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .comprar .fa:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .comprar:hover .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria .fa:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria:hover .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .download .fa:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .download:hover .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email .fa:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email:hover .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir .fa:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir:hover .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal .fa:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal:hover .fa {
    background: 0 0; }

  footer .parceiros .list-inline li:first-child {
    width: 100%;
    text-align: left; } }
@media (max-width: 769px) {
  .navbar-collapse.collapse {
    display: none; }

  .navbar-collapse.collapse.in {
    display: block; }

  header .logo-menu .barra-logo-menu a.navbar-brand {
    text-align: center; }

  header .logo-menu .barra-logo-menu button {
    margin-top: 3.5rem; }

  header .logo-menu .barra-logo-menu .menu-main-header.navegacao {
    position: fixed;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);
    top: 4.2rem;
    right: 0;
    width: 100%;
    height: 100%; }

  header .logo-menu .barra-logo-menu .menu-main-header.navegacao ul {
    width: 50%;
    float: right; }

  header .logo-menu .barra-logo-menu .menu-main-header.navegacao ul li {
    display: flex;
    float: left;
    width: 100%;
    background: #FFF; }

  header .logo-menu .barra-logo-menu .menu-main-header.navegacao ul li a {
    background: 0 0;
    line-height: 7rem;
    width: 100%; } }
@media (max-width: 768px) {
  .conteudo .nav-tabs.nav-justified li {
    float: left;
    width: 33.3%;
    margin-bottom: -0.7rem; }

  .conteudo .nav-tabs.nav-justified li a {
    height: 5rem;
    line-height: 5rem; }

  .conteudo .home .box-entrada {
    min-height: auto; }

  .conteudo .ctn-breadcrumb ul#steps.breadcrumb li {
    height: 10px;
    font-size: 0; }

  .conteudo .ctn-breadcrumb ul#steps.breadcrumb li::after {
    top: -28%; }

  .conteudo .ctn-breadcrumb ul#steps.breadcrumb li.current::after {
    top: -74%; }

  .conteudo .frm-planograma fieldset section {
    margin-top: 0; }

  .conteudo .frm-planograma fieldset section.quantidade-prateleiras .ctn-prateleiras .largura-gondula {
    margin-top: 50px; }

  .conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria {
    line-height: 30px; }

  .conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao, .conteudo section.conclusao-planograma .ctn-btn-planograma .comprar, .conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria, .conteudo section.conclusao-planograma .ctn-btn-planograma .download, .conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir, .conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal {
    font-size: 13px; } }
@media (max-width: 670px) {
  footer .container .ctnTodosDepartamentos {
    width: 100%; }

  footer .container .ctnTodosDepartamentos .row > div {
    width: 50%;
    padding: 0 1rem; }

  footer .container .ctnTodosDepartamentos ul {
    margin: 0; }

  footer > .container > .row > div {
    width: 100%; }

  footer .contato-telefone .container > div {
    width: 100%;
    padding: 0; }

  footer .contato-telefone .container .direitos-reservados {
    top: 6px;
    text-align: center; }

  footer .contato-telefone .desenvolvido {
    top: 6px; } }
@media (max-width: 500px) {
  footer .container .ctnTodosDepartamentos {
    width: 100%; }

  footer .container .ctnTodosDepartamentos .row > div {
    width: 50%; }

  footer .container .ctnTodosDepartamentos ul li a {
    font-size: 13px; } }
@media (max-width: 490px) {
  /*.conteudo .frm-planograma fieldset .commands #enviar, .conteudo .frm-planograma fieldset .commands .next, .conteudo .frm-planograma fieldset .commands .prev {
    width: 51px;
    height: 50px
  }*/
  .conteudo section.conclusao-planograma .ctn-btn-planograma > div {
    width: 50%; } }
@media (max-width: 435px) {
  footer .container .ctnTodosDepartamentos {
    display: none; } }
@media (max-width: 360px) {
  .conteudo .home .linha-banner-publicitario {
    display: none; } }
body {
  font-family: 'Roboto', sans-serif;
  background: #FFF;
  color: #333; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto', sans-serif; }

h2 {
  margin-top: 10px; }

.upper {
  text-transform: uppercase; }

.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.margin-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.margin-0 {
  margin: 0; }

.bg-primary {
  background: #004282;
  color: white; }

.brand-umv {
  border-right: 1px solid #FFF;
  padding-right: 20px;
  margin-right: 20px; }

.navbar-custom {
  background: #004282;
  text-shadow: none;
  border: 0;
  border-radius: 0;
  margin-bottom: 0; }
  .navbar-custom .navbar-nav > li > a {
    color: white; }
  .navbar-custom .navbar-nav > li > a:focus, .navbar-custom .navbar-nav > li > a:hover {
    color: white;
    text-decoration: underline; }
  .navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:focus, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:focus, .navbar-custom .navbar-nav > .open > a:hover {
    background: #0D3660; }
  .navbar-custom .navbar-toggle {
    border-color: #0D3660; }
  .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
    background: #0D3660; }
  .navbar-custom .navbar-brand {
    padding: 10.5px 15px; }

.content {
  margin: 20px 0; }

.home {
  margin-top: 20px; }
  .home h2 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase; }
  .home .box-info {
    min-height: 305px; }
  .home .box-info-person {
    padding-bottom: 0;
    padding-top: 54px; }
  .home .ilustration {
    background: url(../imagens/entrada-loja.png) bottom center no-repeat;
    height: 430px; }

.box-info {
  padding: 20px 30px;
  background: #EBF0F1; }

footer {
  background: #0D3660;
  font-size: 13px;
  color: white; }

.btn.next {
  color: white;
  padding: 0;
  float: right;
  background: #3157BB;
  border-bottom: 3px solid #25418D; }

.btn.next:hover {
  background: #264493;
  border-bottom: 3px solid #1a2e65; }

.btn.next span,
.btn.prev span {
  padding: 0 30px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase; }

.btn.next i {
  padding: 20px;
  background: #2B51B6; }

.btn.next:hover i {
  background: #213f8d; }

.btn.prev {
  color: white;
  padding: 0;
  float: left;
  background: #DF5553;
  border-bottom: 3px solid #C54341; }

.btn.prev:hover {
  background: #d72a28;
  border-bottom: 3px solid #a23331; }

.btn.prev i {
  background: #DA4C4A;
  padding: 20px; }

.btn.prev:hover i {
  background: #c82b29; }

.box-570 {
  max-height: 570px;
  overflow-y: auto;
  overflow-x: hidden; }

.material-icons {
  vertical-align: sub;
  font-size: 130%; }

.text-A, .text-1 {
  color: green; }

.text-B, .text-2 {
  color: #92d050; }

.text-C, .text-4, .text-3 {
  color: orange; }

.text-D, .text-7 {
  color: red; }

.text-5 {
  color: #e26b0a; }

.text-6 {
  color: #974706; }

.bg-class {
  text-align: center;
  color: white;
  font-weight: bold; }

.bg-class-A {
  background: green; }

.bg-class-B {
  background: #92d050; }

.bg-class-C {
  background: orange; }

.bg-class-D {
  background: red; }

.bg-class-3 {
  background: yellow; }

.bg-class-5 {
  background: #e26b0a; }

.bg-class-6 {
  background: #974706; }

.panel-assortment .table {
  margin-bottom: 0; }
.panel-assortment .panel-default {
  box-shadow: none; }
.panel-assortment .panel-heading {
  padding: 0; }
.panel-assortment .panel-title {
  font-size: 14px;
  line-height: 10px; }
.panel-assortment .panel-column {
  border: 0; }
  .panel-assortment .panel-column .panel-heading {
    background: none; }
  .panel-assortment .panel-column .panel-title {
    line-height: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px; }

.table-info {
  cursor: pointer; }
  .table-info td.bg-class:before {
    position: absolute;
    left: 44px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    display: none; }
  .table-info td.bg-class.active:before {
    display: block; }
  .table-info td.bg-class.bg-class-A:before {
    border-left: 10px solid green; }
  .table-info td.bg-class.bg-class-B:before {
    border-left: 10px solid #92d050; }
  .table-info td.bg-class.bg-class-C:before {
    border-left: 10px solid orange; }
  .table-info td.bg-class.bg-class-D:before {
    border-left: 10px solid red; }

div[class^="box-table-"] {
  display: none;
  width: 80%;
  float: right; }
  div[class^="box-table-"] .icon {
    font-size: 400%;
    float: left;
    padding: 0 10px 0 0; }

div[class^="box-table-"].active {
  display: block; }

.steps {
  border-bottom: 1px solid #7FB3D5;
  margin-bottom: 25px;
  padding: 0 0 25px 0;
  text-transform: uppercase; }

.steps .step a {
  color: black; }

.steps .step.active {
  font-weight: bold; }

.steps .step::after {
  content: "\025ef";
  font-size: 25px;
  font-size-adjust: .3;
  position: absolute;
  top: 30px;
  left: 43%;
  color: #7FB3D5;
  background: #FFF; }

.steps .step.active::after {
  content: "\025c9";
  font-size: 32px;
  top: 25px;
  font-weight: normal; }

h3.title {
  font-size: 28px;
  border-left: 3px solid #E2E2E2;
  padding: 0 20px 0;
  margin: 0; }

.btn-cockpit {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  display: block;
  text-decoration: none !important;
  font-size: 32px;
  padding: 10px 0 10.5px 0;
  line-height: 1.1; }

.btn-cockpit:hover {
  color: black;
  background: white; }

.btn {
  white-space: normal; }

.jumbotron-sm {
  margin-bottom: 15px; }

.panel-perishable {
  border-color: #2b51b6; }

.panel-perishable > .panel-heading {
  color: #ffffff;
  background-color: #2b51b6;
  border-color: #2b51b6; }

.navigate {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  background: #e2e2e2;
  left: 0;
  padding: 10px;
  z-index: 2000;
  border-top: 1px solid #bbb;
  /*.btn.next span, .btn.prev span {
    padding: 0 15px;
  }

  .btn.next i, .btn.prev i {
    padding: 5px;
  }*/ }

body.modal-open .navigate {
  display: none; }

.btn-wait {
  opacity: 0.8;
  filter: grayscale(1);
  cursor: wait; }

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 29.5px;
    padding-bottom: 29.5px; }

  .jumbotron-sm {
    padding-top: 20px;
    padding-bottom: 20px; }

  .container .jumbotron-sm, .container-fluid .jumbotron-sm {
    padding-left: 30px;
    padding-right: 30px; } }
@media (max-width: 767px) {
  .ctn-breadcrumb,
  .btn.prev span {
    display: none; }

  .navbar-brand > img {
    height: 40px; }

  .btn {
    white-space: normal; }

  .btn.next span, .btn.prev span {
    padding: 0 15px; }

  .btn.next i, .btn.prev i {
    padding: 5px; }

  .navigate {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    background: #e2e2e2;
    left: 0;
    padding: 10px;
    z-index: 2;
    border-top: 1px solid #bbb; } }
@media (max-width: 991px) {
  .affix, .affix-bottom {
    position: relative !important;
    top: inherit !important; } }
@media (min-width: 992px) {
  body {
    position: relative; }

  .affix {
    top: 20px;
    margin-right: 20px; }

  .affix-bottom {
    position: fixed !important;
    margin-right: 20px; } }

/*# sourceMappingURL=app.css.map */
