*, footer .contato-telefone .desenvolvido .developed span {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.conteudo .frm-planograma fieldset section.categoria .ctn-categorias .lista-categorias, .conteudo .frm-planograma fieldset section.estado .ctn-estados .lista-estados {
    max-height: 300px
}

@font-face {
    font-family: raleway-light;
    src: url(../fonts/raleway-light/raleway-light.eot);
    src: url(../fonts/raleway-light/raleway-light.eot?#iefix) format('embedded-opentype'), url(../fonts/raleway-light/raleway-light.woff2) format('woff2'), url(../fonts/raleway-light/raleway-light.woff) format('woff'), url(../fonts/raleway-light/raleway-light.ttf) format('truetype'), url(../fonts/raleway-light/raleway-light.svg#raleway-light) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: raleway-regular;
    src: url(../fonts/raleway-regular/raleway-regular.eot);
    src: url(../fonts/raleway-regular/raleway-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/raleway-regular/raleway-regular.woff2) format('woff2'), url(../fonts/raleway-regular/raleway-regular.woff) format('woff'), url(../fonts/raleway-regular/raleway-regular.ttf) format('truetype'), url(../fonts/raleway-regular/raleway-regular.svg#raleway-regular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: raleway-semibold;
    src: url(../fonts/raleway-semibold/raleway-semibold.eot);
    src: url(../fonts/raleway-semibold/raleway-semibold.eot?#iefix) format('embedded-opentype'), url(../fonts/raleway-semibold/raleway-semibold.woff2) format('woff2'), url(../fonts/raleway-semibold/raleway-semibold.woff) format('woff'), url(../fonts/raleway-semibold/raleway-semibold.ttf) format('truetype'), url(../fonts/raleway-semibold/raleway-semibold.svg#raleway-semibold) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/montserrat-regular.eot);
    src: url(../fonts/montserrat/montserrat-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/montserrat/montserrat-regular.woff2) format('woff2'), url(../fonts/montserrat/montserrat-regular.woff) format('woff'), url(../fonts/montserrat/montserrat-regular.ttf) format('truetype'), url(../fonts/montserrat/montserrat-regular.svg#montserrat) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: segoe-ui-regular;
    src: url(../fonts/segoe-ui-regular/segoe-ui-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/segoe-ui-regular/segoe-ui-regular.woff) format('woff'), url(../fonts/segoe-ui-regular/segoe-ui-regular.ttf) format('truetype'), url(../fonts/segoe-ui-regular/segoe-ui-regular.svg#segoe-ui-regular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: opensans-regular;
    src: url(../fonts/opensans/opensans-regular.eot);
    src: url(../fonts/opensans/opensans-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/opensans/opensans-regular.woff2) format('woff2'), url(../fonts/opensans/opensans-regular.woff) format('woff'), url(../fonts/opensans/opensans-regular.ttf) format('truetype'), url(../fonts/opensans/opensans-regular.svg#opensans-regular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: droid-sans-regular;
    src: url(../fonts/droid-sans/droid-sans.eot);
    src: url(../fonts/droid-sans/droid-sans.eot?#iefix) format('embedded-opentype'), url(../fonts/droid-sans/droid-sans.woff) format('woff'), url(../fonts/droid-sans/droid-sans.ttf) format('truetype'), url(../fonts/droid-sans/droid-sans.svg#droid-sans) format('svg');
    font-weight: 400;
    font-style: normal
}

* {
    transition: all .3s ease
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    border: 0;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

strong {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

html {
    overflow-y: scroll
}

body {
    font-family: raleway-light;
    background: #FFF;
    color: #666;
    font-size: 12px;
    overflow-y: hidden
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 15px;
    margin: 0 0 1.5em;
    width: 100%
}

th {
    font-weight: 700
}

td, th {
    padding: 6px 10px
}

caption, td, th {
    text-align: left
}

blockquote:after, blockquote:before, q:after, q:before {
    content: ""
}

blockquote, q {
    quotes: "" ""
}

a, a:active, a:focus, a:hover, a:visited {
    text-decoration: none
}

a img {
    border: 0
}

.none {
    display: none
}

.nopadding {
    padding: 0
}

.img-responsive {
    display: initial
}

:focus {
    outline: 0!important
}

::selection {
    background: #B0D0E6;
    color: #FFF
}

::-moz-selection {
    background: #B0D0E6;
    color: #FFF
}

.form-control, .form-control:focus {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

input[type=checkbox]:not(old), input[type=radio]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 1em;
    opacity: 0;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none
}

input[type=checkbox]:not(old)+label, input[type=radio]:not(old)+label {
    display: inline-block;
    margin-left: -2em;
    cursor: pointer;
    line-height: 30px;
    font-family: raleway-light;
    font-size: 21px;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none
}

input[type=checkbox]:not(old)+label>span, input[type=radio]:not(old)+label>span {
    display: inline-block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    margin: .25em .5em .25em .25em;
    border: 1px solid #7FB3D5;
    border-radius: 50%;
    background: #FFF;
    vertical-align: bottom;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none
}

input[type=checkbox]:not(old):checked+label>span, input[type=radio]:not(old):checked+label>span {
    background: #FFF;
    cursor: pointer;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none
}

input[type=checkbox]:not(old):checked+label>span:before {
    content: 'âœ"';
    display: block;
    width: 1em;
    color: #7FB3D5;
    font-size: .875em;
    line-height: 1em;
    text-align: center;
    font-weight: 700;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none
}

input[type=radio]:not(old):checked+label>span>span {
    display: block;
    cursor: pointer;
    width: 11px;
    height: 11px;
    margin: 29% 0 0 25.5%;
    border-radius: 50%;
    background: #7FB3D5;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none
}

/*header .barra-bem-vindo {
    background: #EBF1F3;
    color: #004282;
    font-family: segoe-ui-regular;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px
}

header .barra-bem-vindo a {
    color: #004282
}

header .barra-bem-vindo a:hover {
    color: #58A5DE;
    text-decoration: underline
}

header .barra-logo {
    background: #004282;
    line-height: 66px
}

header .barra-logo .container {
    padding-top: 10px;
    padding-bottom: 10px
}

header .barra-logo .container .img-logo-umv {
    float: left;
    border-right: 1px solid #FFF;
    padding-right: 20px;
    margin-right: 20px
}*/

.conteudo .home {
    font-family: droid-sans-regular;
    margin-top: 20px
}

.conteudo .home .box-entrada {
    margin-top: 20px;
    padding: 25px 30px;
    color: #444;
    background: #EBF0F1;
    min-height: 260px
}

.conteudo .home .box-entrada h1, .conteudo .home .box-entrada h2 {
    font-size: 19px;
    margin-bottom: 15px
}

.conteudo .home .box-entrada p {
    font-size: 15px;
    margin-bottom: 15px
}

.conteudo .home .box-entrada a {
    color: #444;
    font-size: 15px
}

.conteudo .home .box-entrada a:hover {
    text-decoration: underline
}

.conteudo .home .box-entrada form .form-control {
    border: 1px solid #9DBAC4;
    height: 40px;
    margin: 5px 0
}

.conteudo .home .box-entrada form .btn {
    background: #25A23A;
    text-align: center;
    width: 100%;
    height: 40px;
    color: #FFF;
    margin: 5px 0
}

.conteudo .home .box-entrada form .btn:hover {
    background: #1A7329
}

.conteudo .home .box-entrada .img-funcionario {
    position: absolute;
    top: -5px;
    left: 25px
}

.conteudo .home .entrada-loja {
    background: url(../imagens/entrada-loja.png) bottom center no-repeat;
    height: 430px;
    margin: 10px 0;
    border-bottom: 1px solid #686C6B
}

.conteudo .home .linha-banner-publicitario {
    margin: 20px 0
}

.conteudo .ctn-breadcrumb {
    border-bottom: 1px solid #7FB3D5
}

.conteudo .ctn-breadcrumb ul#steps.breadcrumb {
    background: #FFF;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.conteudo .ctn-breadcrumb ul#steps.breadcrumb li {
    position: relative;
    font-size: 14px;
    height: 50px;
    width: 20%;
    text-align: center;
    font-family: raleway-regular;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    vertical-align: middle
}

.conteudo .ctn-breadcrumb ul#steps.breadcrumb li::before {
    content: " "
}

.conteudo .ctn-breadcrumb ul#steps.breadcrumb li::after {
    content: "\025ef";
    font-size: 25px;
    font-size-adjust: .3;
    padding: 5px 0;
    position: absolute;
    top: 65%;
    left: 51%;
    color: #7FB3D5;
    margin-top: 5px;
    background: #FFF
}

.conteudo .ctn-breadcrumb ul#steps.breadcrumb li.current {
    color: #444
}

.conteudo .ctn-breadcrumb ul#steps.breadcrumb li.current::after {
    font-size: 32px;
    font-size-adjust: .3;
    content: "\025c9";
    position: absolute;
    top: 56%;
    left: 51%;
    color: #7FB3D5
}

.conteudo .frm-planograma {
    margin-top: 20px
}

.conteudo .frm-planograma fieldset legend {
    display: none
}

.conteudo .frm-planograma fieldset h1 {
    font-family: raleway-light;
    font-size: 32px;
    border-left: 3px solid #E2E2E2;
    padding: 20px
}

.conteudo .frm-planograma fieldset section {
    margin: 40px 0 14px
}

.conteudo .frm-planograma fieldset section label {
    cursor: pointer
}

.conteudo .frm-planograma fieldset section .ctn-informacao {
    font-size: 14px;
    font-family: segoe-ui-regular;
    border: 1px solid #E2E2E2;
    background: #F8F8F8;
    padding: 20px 33px;
    line-height: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    border-radius: .4rem
}

.conteudo .frm-planograma fieldset section.categoria .ctn-categorias .lista-categorias label, .conteudo .frm-planograma fieldset section.estado .ctn-estados .lista-estados label {
    font-size: 17px;
    line-height: 34px
}

.conteudo .frm-planograma fieldset section .ctn-informacao .img-informacao {
    position: absolute;
    top: -6px;
    right: 11px;
    color: #FFF;
    background: url(../imagens/suporte-tag-info.png) center center no-repeat;
    width: 19px;
    height: 21px;
    vertical-align: bottom;
    padding-left: 4px
}

.conteudo .frm-planograma fieldset section.loja .box-loja .ctn-img {
    padding: 0
}

.conteudo .frm-planograma fieldset section.categoria .ctn-categorias {
    border: 1px solid #E2E2E2;
    background: #F8F8F8;
    margin-top: 40px;
    padding: 20px 15px;
    font-size: 17px;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    border-radius: .4rem
}

.conteudo .frm-planograma fieldset section.categoria .ctn-categorias .ctn-filtro {
    float: left;
    width: 97%;
    border-bottom: 1px solid #E2E2E2;
    padding: 0 0 15px 15px;
    margin: 0 0 10px 15px
}

.conteudo .frm-planograma fieldset section.categoria .ctn-categorias .ctn-filtro label {
    float: left;
    margin-top: 5px;
    margin-right: 10px
}

.conteudo .frm-planograma fieldset section.quantidade-modulos .ctn-modulos, .conteudo .frm-planograma fieldset section.quantidade-prateleiras .ctn-prateleiras {
    margin-top: 40px
}

.conteudo .frm-planograma fieldset section.categoria .ctn-categorias .ctn-filtro .input-group {
    float: left;
    width: 35%
}

.conteudo .frm-planograma fieldset section.categoria .ctn-categorias .ctn-filtro input[type=text] {
    border: 1px solid #E2E2E2;
    height: 36px
}

.conteudo .frm-planograma fieldset section.categoria .ctn-categorias .ctn-filtro .btn {
    background: #54A76C;
    color: #FFF;
    border: none;
    height: 36px
}

.conteudo .frm-planograma fieldset section.estado .ctn-estados {
    border: 1px solid #E2E2E2;
    background: #F8F8F8;
    margin-top: 40px;
    padding: 20px 15px;
    font-size: 17px;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    border-radius: .4rem
}

.conteudo .frm-planograma fieldset section.quantidade-modulos .ctn-modulos .box-quantidade-modulos .ctn-img, .conteudo .frm-planograma fieldset section.quantidade-prateleiras .ctn-prateleiras .box-quantidade-prateleiras .ctn-img {
    padding: 0
}

.conteudo .frm-planograma fieldset section.quantidade-prateleiras .ctn-prateleiras .box-quantidade-prateleiras .form-control {
    width: auto;
    border: 1px solid #E2E2E2;
    display: inline-block
}

.conteudo .frm-planograma fieldset section.informe-seus-dados .ctn-dados-pessoais .input-group {
    width: 100%;
    margin: 14px 0
}

.conteudo .frm-planograma fieldset section.informe-seus-dados .ctn-dados-pessoais .input-group .input-group-addon {
    background: #004282;
    width: 38px;
    height: 38px;
    border: none
}

.conteudo .frm-planograma fieldset section.informe-seus-dados .ctn-dados-pessoais .input-group .input-group-addon .fa {
    color: #FFF
}

.conteudo .frm-planograma fieldset section.informe-seus-dados .ctn-dados-pessoais .input-group input[type=text] {
    border: 1px solid #E2E2E2;
    height: 38px
}

.conteudo .frm-planograma fieldset .commands .next, .conteudo .frm-planograma fieldset .commands .prev {
    position: relative;
    text-decoration: none;
    padding: 14px;
    width: 175px;
    color: #FFF;
    font-family: montserrat;
    font-size: 16px;
    margin: 20px 0;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    border-radius: .4rem
}

.conteudo .frm-planograma fieldset .commands .next .fa, .conteudo .frm-planograma fieldset .commands .prev .fa {
    position: absolute;
    text-align: center;
    width: 50px;
    top: 0;
    padding: 17px 0
}

.conteudo .frm-planograma fieldset .commands .prev {
    float: left;
    text-align: right;
    background: #DF5553;
    border-bottom: 3px solid #C54341
}

.conteudo .frm-planograma fieldset .commands .prev .fa {
    left: 0;
    background: #DA4C4A
}

.conteudo .frm-planograma fieldset .commands .prev:hover {
    background: #d72a28;
    border-bottom: 3px solid #a23331
}

.conteudo .frm-planograma fieldset .commands .prev:hover .fa {
    background: #c82b29
}

.conteudo .frm-planograma fieldset .commands .next {
    float: right;
    text-align: left;
    background: #3157BB;
    border-bottom: 3px solid #25418D
}

.conteudo .frm-planograma fieldset .commands .next .fa {
    right: 0;
    background: #2B51B6
}

.conteudo .frm-planograma fieldset .commands .next:hover {
    background: #264493;
    border-bottom: 3px solid #1a2e65
}

.conteudo .frm-planograma fieldset .commands .next:hover .fa {
    background: #213f8d
}

.conteudo .frm-planograma fieldset .commands #enviar {
    width: 260px;
    border: none;
    border-bottom: 3px solid #25418D
}

.conteudo .frm-planograma fieldset .commands #enviar .fa {
    border-top-right-radius: .3rem
}

.conteudo section.conclusao-planograma {
    margin-bottom: 2rem
}

.conteudo section.conclusao-planograma h1 {
    font-family: raleway-light;
    font-size: 32px;
    border-left: 3px solid #E2E2E2;
    padding: 20px;
    margin: 20px 0 10px
}

.conteudo section.conclusao-planograma .zoom-foto {
    position: absolute;
    width: 50%;
    height: 350px;
    top: 73px;
    right: -310px;
    z-index: 1000
}

.conteudo section.conclusao-planograma .table {
    font-size: 16px
}

.conteudo section.conclusao-planograma .table thead tr th {
    background: #D9E4E8;
    border-color: #FFF;
    text-align: center
}

.conteudo section.conclusao-planograma .table tbody tr td {
    background: #E6EEF0;
    border-color: #FFF;
    text-align: center
}

.conteudo section.conclusao-planograma .table tbody tr td:first-child {
    text-align: right
}

.conteudo section.conclusao-planograma .ctn-btn-planograma {
    margin-bottom: 10px
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao {
    float: left;
    position: relative;
    border: none;
    text-decoration: none;
    padding: 14px 50px 14px 14px;
    width: 100%;
    color: #FFF;
    font-family: raleway-semibold;
    font-weight: 700;
    font-size: 11px;
    margin: 10px 0;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    border-radius: .4rem
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao .fa {
    position: absolute;
    text-align: center;
    font-size: 18px;
    width: 50px;
    top: 0;
    padding: 12px 0;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .comprar {
    text-align: left;
    background: #FD5858
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .comprar .fa {
    right: 0;
    background: #FC2525
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .comprar:hover {
    background: #fc2626
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .comprar:hover .fa {
    background: #eb0303
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .download {
    text-align: left;
    background: #FABD1D
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .download .fa {
    right: 0;
    background: #F3B105
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .download:hover {
    background: #dfa305
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .download:hover .fa {
    background: #c18d04
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal {
    text-align: left;
    background: #54A76C
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal .fa {
    right: 0;
    background: #4B9662
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal:hover {
    background: #438556
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal:hover .fa {
    background: #3a744c
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria {
    text-align: left;
    background: #18A7E4
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria .fa {
    right: 0;
    background: #1699D1
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria:hover {
    background: #1385b6
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria:hover .fa {
    background: #1177a3
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir {
    text-align: left;
    background: #686C6B
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir .fa {
    right: 0;
    background: #444
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir:hover {
    background: #4f5251
}

.conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email:hover .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir:hover .fa {
    background: #2b2b2b
}

footer {
    background: #0D3660;
    font-family: opensans-regular;
    font-size: 13px
}

footer .container p, footer .parceiros {
    font-family: Arial
}

footer .parceiros {
    background: #004282;
    font-weight: 700;
    font-size: 10px;
    border: none;
    min-height: 31px;
    line-height: 31px;
    box-shadow: none;
    margin-bottom: 50px
}

footer .parceiros a {
    color: #FFF
}

footer .parceiros a:hover {
    color: #58A5DE;
    text-decoration: underline
}

footer .parceiros ul li {
    padding: 0 10px
}

footer .container .sprite-footer {
    background: url(../imagens/sprite-footer.png) no-repeat;
    display: inline-block;
    height: 25px;
    position: relative;
    top: 4px;
    width: 26px
}

footer .container .icon-twitter {
    background-position: -304px -162px
}

footer .container a:hover .icon-twitter {
    background-position: -344px -162px
}

footer .container .icon-facebook {
    background-position: -400px 0
}

footer .container a:hover .icon-facebook {
    background-position: -440px 0
}

footer .container .icon-youtube {
    background-position: -404px -35px
}

footer .container a:hover .icon-youtube {
    background-position: -444px -35px
}

footer .container .icon-agroveterinarios {
    background-position: 0 0
}

footer .container a:hover .icon-agroveterinarios {
    background-position: -40px 0
}

footer .container .icon-alimentos {
    background-position: 0 -41px
}

footer .container a:hover .icon-alimentos {
    background-position: -40px -41px
}

footer .container .icon-bebidas {
    background-position: 0 -81px
}

footer .container a:hover .icon-bebidas {
    background-position: -40px -81px
}

footer .container .icon-bomboniere {
    background-position: 0 -125px
}

footer .container a:hover .icon-bomboniere {
    background-position: -40px -125px
}

footer .container .icon-calcados {
    background-position: 0 -167px
}

footer .container a:hover .icon-calcados {
    background-position: -40px -167px
}

footer .container .icon-cine-foto {
    background-position: -100px 0
}

footer .container a:hover .icon-cine-foto {
    background-position: -140px 0
}

footer .container .icon-eletro {
    background-position: -100px -40px
}

footer .container a:hover .icon-eletro {
    background-position: -140px -40px
}

footer .container .icon-escolares-escritorios {
    background-position: -100px -81px
}

footer .container a:hover .icon-escolares-escritorios {
    background-position: -140px -81px
}

footer .container .icon-ferramentas {
    background-position: -100px -125px
}

footer .container a:hover .icon-ferramentas {
    background-position: -140px -125px
}

footer .container .icon-higiene {
    background-position: -100px -165px
}

footer .container a:hover .icon-higiene {
    background-position: -140px -165px
}

footer .container .icon-implementos-agropecuarios {
    background-position: -200px 3px
}

footer .container a:hover .icon-implementos-agropecuarios {
    background-position: -240px 3px
}

footer .container .icon-informatica {
    background-position: -200px -40px
}

footer .container a:hover .icon-informatica {
    background-position: -240px -40px
}

footer .container .icon-limpeza {
    background-position: -200px -83px
}

footer .container a:hover .icon-limpeza {
    background-position: -240px -83px
}

footer .container .icon-material-construcao {
    background-position: -200px -124px
}

footer .container a:hover .icon-material-construcao {
    background-position: -240px -124px
}

footer .container .icon-telecomunicacoes {
    background-position: -200px -166px
}

footer .container a:hover .icon-telecomunicacoes {
    background-position: -240px -166px
}

footer .container .icon-utensilios-domesticos {
    background-position: -300px 0
}

footer .container a:hover .icon-utensilios-domesticos {
    background-position: -340px 0
}

footer .container .icon-equipamentos-institucionais {
    background-position: -300px -40px
}

footer .container a:hover .icon-equipamentos-institucionais {
    background-position: -340px -40px
}

footer .container .icon-camping-lazer {
    background-position: -300px -82px
}

footer .container a:hover .icon-camping-lazer {
    background-position: -340px -82px
}

footer .container .icon-bebes-criancas {
    background-position: -300px -125px
}

footer .container a:hover .icon-bebes-criancas {
    background-position: -340px -125px
}

footer .container .icon-telefone {
    background-position: -403px -81px
}

footer .container li.telefone:hover {
    color: #58A5DE
}

footer .container li.telefone:hover .icon-telefone {
    background-position: -443px -81px
}

footer .container ul.social {
    text-align: center
}

footer .container ul.social li {
    display: inline;
    margin: 0 3px
}

footer .container ul.social li a {
    display: inline-block;
    line-height: 10px
}

footer .container ul.social li a i {
    margin: 0
}

footer .container p {
    color: #58A5DE;
    font-size: 11px;
    line-height: 18px;
    margin: 14px 10px
}

footer .container h3 {
    color: #FFF;
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    margin: 0
}

footer .container .ctnTodosDepartamentos ul {
    list-style: none;
    margin: 10px 0
}

footer .container .ctnTodosDepartamentos ul li a {
    color: #FFF;
    font-size: 15px;
    line-height: 46px;
    letter-spacing: -.6px
}

footer .container .ctnTodosDepartamentos ul li a:hover {
    color: #58A5DE
}

footer .container .ctnTodosDepartamentos ul li a i {
    margin-right: 5px
}

footer .container ul.ulNivel2 li {
    color: #FFF;
    letter-spacing: -.6px;
    line-height: 25px
}

footer .container ul.ulNivel2 li a {
    line-height: 25px
}

footer .container ul.ulNivel2 .telefone {
    font-size: 18px;
    font-weight: 700
}

footer .contato-telefone {
    padding-top: 14px;
    padding-bottom: 10px;
    border-top: 1px solid #064B91;
    margin-top: 20px
}

footer .contato-telefone a {
    color: #FFF;
    letter-spacing: -.6px;
    line-height: 15px
}

footer .contato-telefone a:hover {
    color: #58A5DE
}

footer .contato-telefone .direitos-reservados {
    position: relative;
    right: 0;
    top: 50px;
    text-align: right;
    color: #FFF
}

footer .contato-telefone .desenvolvido {
    padding: 10px 0;
    height: 50px;
    overflow: hidden;
    position: relative;
    top: 40px
}

footer .contato-telefone .desenvolvido .developed {
    color: #FFF;
    position: relative;
    text-decoration: none
}

footer .contato-telefone .desenvolvido .developed span {
    position: relative;
    line-height: 30px;
    top: 0;
    transition: all .3s ease
}

footer .contato-telefone .desenvolvido .developed .img-logo-wing {
    padding-left: .5rem
}

footer .contato-telefone .desenvolvido .developed .wing {
    opacity: 0;
    position: absolute;
    right: 50px;
    top: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

footer .contato-telefone .desenvolvido .developed:focus span, footer .contato-telefone .desenvolvido .developed:hover span {
    top: -7px;
    line-height: 30px
}

footer .contato-telefone .desenvolvido .developed:focus .wing, footer .contato-telefone .desenvolvido .developed:hover .wing {
    display: block;
    opacity: 1;
    position: absolute;
    right: 50px;
    top: 4px;
    transform: all 1s ease
}

@media (max-width:1199px) {
    .conteudo .ctn-breadcrumb ul#steps.breadcrumb li::after {
        top: 68%
    }
    .conteudo .ctn-breadcrumb ul#steps.breadcrumb li.current::after {
        top: 57%
    }
    .conteudo section.conclusao-planograma .zoom-foto {
        top: 88px
    }
    .conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao {
        line-height: 30px
    }
    .conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao .fa {
        padding: 20px 0
    }
    .conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria {
        line-height: 15px
    }
}

@media (max-width:991px) {
    .conteudo .home .box-entrada {
        min-height: 290px
    }
    .conteudo .home .box-entrada form .form-control {
        margin: 9px 0
    }
    .conteudo .home .box-entrada form .btn {
        margin: 9px 0 15px
    }
    .conteudo .home .linha-banner-publicitario div {
        margin-bottom: 10px
    }
    .conteudo .ctn-breadcrumb ul#steps.breadcrumb li {
        height: 68px
    }
    .conteudo .ctn-breadcrumb ul#steps.breadcrumb li::after {
        top: 75%
    }
    .conteudo .ctn-breadcrumb ul#steps.breadcrumb li.current::after {
        top: 70%
    }
    .conteudo .frm-planograma fieldset section {
        margin-top: 20px
    }
    .conteudo .frm-planograma fieldset section label {
        font-size: 17px
    }
    .conteudo .frm-planograma fieldset section .ctn-informacao {
        margin: 30px 0 20px
    }
    .conteudo .frm-planograma fieldset section .ctn-informacao .img-informacao {
        top: 25px
    }
    .conteudo .frm-planograma fieldset section.quantidade-prateleiras .ctn-prateleiras h2 {
        font-size: 23px;
        margin: 20px 0
    }
    .conteudo section.conclusao-planograma .zoom-foto {
        top: 88px;
        right: -239px
    }
    .conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao, .conteudo section.conclusao-planograma .ctn-btn-planograma .comprar, .conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria, .conteudo section.conclusao-planograma .ctn-btn-planograma .download, .conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir, .conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal {
        padding: 14px 6px;
        font-size: 11px
    }
    .conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .comprar .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .download .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal .fa {
        padding: 20px 6px 0 0;
        background: 0 0;
        text-align: right
    }
    .conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao .fa:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao:hover .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .comprar .fa:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .comprar:hover .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria .fa:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria:hover .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .download .fa:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .download:hover .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email .fa:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email:hover .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir .fa:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir:hover .fa, .conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal .fa:hover, .conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal:hover .fa {
        background: 0 0
    }
    footer .parceiros .list-inline li:first-child {
        width: 100%;
        text-align: left
    }
}

@media (max-width:769px) {
    .navbar-collapse.collapse {
        display: none
    }
    .navbar-collapse.collapse.in {
        display: block
    }
    header .navbar-toggle {
        display: block;
        background: #FFF;
        margin: 0 0 0 .5rem;
        float: right;
        margin-top: -.6rem
    }
    header .navbar-toggle .icon-bar {
        background: #004282
    }
    header .logo-menu .barra-logo-menu a.navbar-brand {
        text-align: center
    }
    header .logo-menu .barra-logo-menu button {
        margin-top: 3.5rem
    }
    header .logo-menu .barra-logo-menu .menu-main-header.navegacao {
        position: fixed;
        z-index: 1000;
        background: rgba(255, 255, 255, .9);
        top: 4.2rem;
        right: 0;
        width: 100%;
        height: 100%
    }
    header .logo-menu .barra-logo-menu .menu-main-header.navegacao ul {
        width: 50%;
        float: right
    }
    header .logo-menu .barra-logo-menu .menu-main-header.navegacao ul li {
        display: flex;
        float: left;
        width: 100%;
        background: #FFF
    }
    header .logo-menu .barra-logo-menu .menu-main-header.navegacao ul li a {
        background: 0 0;
        line-height: 7rem;
        width: 100%
    }
}

@media (max-width:768px) {
    header .navbar-toggle {
        display: block;
        background: #FFF;
        margin: 0 0 0 .5rem;
        margin-top: -.6rem
    }
    header .navbar-toggle .icon-bar {
        background: #004282
    }
    .conteudo .nav-tabs.nav-justified li {
        float: left;
        width: 33.3%;
        margin-bottom: -.7rem
    }
    .conteudo .nav-tabs.nav-justified li a {
        height: 5rem;
        line-height: 5rem
    }
    .conteudo .home .box-entrada {
        min-height: auto
    }
    .conteudo .ctn-breadcrumb ul#steps.breadcrumb li {
        height: 10px;
        font-size: 0
    }
    .conteudo .ctn-breadcrumb ul#steps.breadcrumb li::after {
        top: -28%
    }
    .conteudo .ctn-breadcrumb ul#steps.breadcrumb li.current::after {
        top: -74%
    }
    .conteudo .frm-planograma fieldset section {
        margin-top: 0
    }
    .conteudo .frm-planograma fieldset h1 {
        border: 0
    }
    .conteudo .frm-planograma fieldset section.quantidade-prateleiras .ctn-prateleiras .largura-gondula {
        margin-top: 50px
    }
    .conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria {
        line-height: 30px
    }
    .conteudo section.conclusao-planograma .ctn-btn-planograma .btn-acao, .conteudo section.conclusao-planograma .ctn-btn-planograma .comprar, .conteudo section.conclusao-planograma .ctn-btn-planograma .dica-categoria, .conteudo section.conclusao-planograma .ctn-btn-planograma .download, .conteudo section.conclusao-planograma .ctn-btn-planograma .enviar-email, .conteudo section.conclusao-planograma .ctn-btn-planograma .imprimir, .conteudo section.conclusao-planograma .ctn-btn-planograma .mix-ideal {
        font-size: 13px
    }
}

@media (max-width:670px) {
    footer .container .ctnTodosDepartamentos {
        width: 100%
    }
    footer .container .ctnTodosDepartamentos .row>div {
        width: 50%;
        padding: 0 1rem
    }
    footer .container .ctnTodosDepartamentos ul {
        margin: 0
    }
    footer>.container>.row>div {
        width: 100%
    }
    footer .contato-telefone .container>div {
        width: 100%;
        padding: 0
    }
    footer .contato-telefone .container .direitos-reservados {
        top: 6px;
        text-align: center
    }
    footer .contato-telefone .desenvolvido {
        top: 6px
    }
}

@media (max-width:500px) {
    footer .container .ctnTodosDepartamentos {
        width: 100%
    }
    footer .container .ctnTodosDepartamentos .row>div {
        width: 50%
    }
    footer .container .ctnTodosDepartamentos ul li a {
        font-size: 13px
    }
}

@media (max-width:490px) {
    .conteudo .frm-planograma fieldset .commands #enviar, .conteudo .frm-planograma fieldset .commands .next, .conteudo .frm-planograma fieldset .commands .prev {
        width: 51px;
        height: 50px
    }
    .conteudo section.conclusao-planograma .ctn-btn-planograma>div {
        width: 50%
    }
}

@media (max-width:435px) {
    footer .container .ctnTodosDepartamentos {
        display: none
    }
}

@media (max-width:360px) {
    .conteudo .home .linha-banner-publicitario {
        display: none
    }
}