/* Bootstrap 3 responsive columns of same height
USAGE:
<div class="row">
  <div class="row-height">
    <div class="col-xs-2 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
    <div class="col-xs-4 col-lg-5 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
  </div>
</div>
*/

/* content styles */

.inside {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
    background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
    background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}
.inside-full-height {
    /*
    // if you want to give content full height give him height: 100%;
    // with content full height you can't apply margins to the content
    // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
    */
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

/* columns of same height styles */

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}
.col-top {
    vertical-align: top;
}
.col-middle {
    vertical-align: middle;
}
.col-bottom {
    vertical-align: bottom;
}

@media (min-width: 480px) {
    .row-xs-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-xs-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-xs-top {
        vertical-align: top;
    }
    .col-xs-middle {
        vertical-align: middle;
    }
    .col-xs-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-sm-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-sm-top {
        vertical-align: top;
    }
    .col-sm-middle {
        vertical-align: middle;
    }
    .col-sm-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 992px) {
    .row-md-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-md-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-md-top {
        vertical-align: top;
    }
    .col-md-middle {
        vertical-align: middle;
    }
    .col-md-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-lg-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-lg-top {
        vertical-align: top;
    }
    .col-lg-middle {
        vertical-align: middle;
    }
    .col-lg-bottom {
        vertical-align: bottom;
    }
}

/* CSS SAMUEL EDSON */

#integra-datatables-content .card{
    /*margin-top: 20px;*/
}

#integra-datatables-content .form-inline .radio, .form-inline .checkbox, .form-inline .btn {
    margin-top: 0;
    margin-right: 0;
}

.table-app thead {
    background: #f6f6f6;
}

.table-app thead > tr > th{
    font-weight: 900;
}

.table-app input,
.table-app select{
    vertical-align: middle;
}

table.dataTable{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: 100% !important;
}

.no-x-padding{
    padding: 15px 0;
}

.select2-container-multi.select2-container-disabled .select2-choices
{
    background-color: inherit;
    border: inherit;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice
{
    border: 0;
    background-color: #aaaaaa;
}

.action-bar{
    padding: 5px 0 !important;
    border-top: 1px solid #eee !important;
}

.btn-image-up-delete{
    top: 10px;
    right: 10px;
}

.form-inverse .select2-container .select2-choice,
.form-inverse .select2-container .select2-choice .select2-arrow b:before,
.form-inverse .select2-container.select2-container-disabled .select2-choice .select2-arrow{
    color: #fff !important;
    background: none;
    border: 0;
}

.form-inverse .select2-dropdown-open .select2-container .select2-choice,
.form-inverse .select2-dropdown-open .select2-container .select2-choice .select2-arrow b:before{
    color: #222;
    background: none;
    border: 0;
}

.bootstrap-tagsinput .tag {
    font-size: 100%;
}

.shadow-gray{
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.border-0{
    border: 0;
}

section.section-account .img-circle{
    border: 0;
}

.section-body:first-child {
    margin-top: 0;
}

.timeline-circ{
    border-width: 0;
}

.timeline-circ.circ-xl .glyphicon, .timeline-circ.circ-xl .fa, .timeline-circ.circ-xl .md {
    line-height: 38px;
}